* {
  padding: 0px;
}

.outWrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.inputWrapper {
  height: min-content;
  width: 900px;
  font-size: 18px;
}

form {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(2, min-content);

  row-gap: 20px;
}
input,
select {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 500px;
  height: 40px;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
}
.check {
  margin-top: -9px;
  width: 25px;
  justify-self: start;
  align-self: start;
}

.buttonWrapper {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.error {
  color: #da1515;
  font-size: 15px;
  position: absolute;
  top: 105px;
  left: 470px;
}

.cancel {
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 48px;
  width: 122px;
  background-color: #000000;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 13px 24px 13px 24px;
}

.save {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 48px;
  width: 150px;
  background-color: #fff532;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 10px;
  padding: 13px 24px 13px 24px;
}
.buttonDel {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 48px;
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  height: 40px;
  margin-left: 190px;
  width: 100px;
  border-radius: 10px;
  padding: 13px 24px 13px 24px;
  font-size: 12px;
  color: white;
}
.delete {
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  height: 48px;
  width: 128px;
  background-color: #da1515;
  font-size: 18px;
  border-radius: 10px;
  padding: 13px 24px 13px 24px;
}
.buttonCan {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 48px;
  background-color: #f7ee55;
  color: rgb(0, 0, 0);
  height: 40px;
  margin-left: 100px;
  width: 100px;
  padding: 13px 24px 13px 24px;
  border-radius: 10px;
  font-size: 12px;
}
